In [3]:
import pandas as pd
import censusdata
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)

In [14]:
censusdata.printtable(censusdata.censustable('acs5', 2015, 'B23025'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B23025_001E  | EMPLOYMENT STATUS FOR THE POPU | !! Estimate Total                                        | int
B23025_002E  | EMPLOYMENT STATUS FOR THE POPU | !! !! Estimate Total In labor force                      | int
B23025_003E  | EMPLOYMENT STATUS FOR THE POPU | !! !! !! Estimate Total In labor force Civilian labor fo | int
B23025_004E  | EMPLOYMENT STATUS FOR THE POPU | !! !! !! !! Estimate Total In labor force Civilian labor | int
B23025_005E  | EMPLOYMENT STATUS FOR THE POPU | !! !! !! !! Estimate Total In labor force Civilian labor | int
B23025_006E  | EMPLOYMENT STATUS FOR THE POPU | !! !! !! Estimate Total In labor force Armed Forces      | int
B23025_007E  | EMPLOYMENT STATUS FOR THE POPU | !! !! Estimate Total Not in labor force                  | int
-------------------------------------------------------------------------------------------------------------------

In [16]:
censusdata.printtable(censusdata.censustable('acs5', 2015, 'B23025'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B23025_001E  | EMPLOYMENT STATUS FOR THE POPU | !! Estimate Total                                        | int
B23025_002E  | EMPLOYMENT STATUS FOR THE POPU | !! !! Estimate Total In labor force                      | int
B23025_003E  | EMPLOYMENT STATUS FOR THE POPU | !! !! !! Estimate Total In labor force Civilian labor fo | int
B23025_004E  | EMPLOYMENT STATUS FOR THE POPU | !! !! !! !! Estimate Total In labor force Civilian labor | int
B23025_005E  | EMPLOYMENT STATUS FOR THE POPU | !! !! !! !! Estimate Total In labor force Civilian labor | int
B23025_006E  | EMPLOYMENT STATUS FOR THE POPU | !! !! !! Estimate Total In labor force Armed Forces      | int
B23025_007E  | EMPLOYMENT STATUS FOR THE POPU | !! !! Estimate Total Not in labor force                  | int
-------------------------------------------------------------------------------------------------------------------

In [12]:
censusdata.search('acs5', 2015, 'label', 'unemploy')[:20]

[('B12006_006E',
  'MARITAL STATUS BY SEX BY LABOR FORCE PARTICIPATION',
  'Estimate!!Total!!Never married!!Male!!In labor force!!Unemployed'),
 ('B12006_011E',
  'MARITAL STATUS BY SEX BY LABOR FORCE PARTICIPATION',
  'Estimate!!Total!!Never married!!Female!!In labor force!!Unemployed'),
 ('B12006_017E',
  'MARITAL STATUS BY SEX BY LABOR FORCE PARTICIPATION',
  'Estimate!!Total!!Now married (except separated)!!Male!!In labor force!!Unemployed'),
 ('B12006_022E',
  'MARITAL STATUS BY SEX BY LABOR FORCE PARTICIPATION',
  'Estimate!!Total!!Now married (except separated)!!Female!!In labor force!!Unemployed'),
 ('B12006_028E',
  'MARITAL STATUS BY SEX BY LABOR FORCE PARTICIPATION',
  'Estimate!!Total!!Separated!!Male!!In labor force!!Unemployed'),
 ('B12006_033E',
  'MARITAL STATUS BY SEX BY LABOR FORCE PARTICIPATION',
  'Estimate!!Total!!Separated!!Female!!In labor force!!Unemployed'),
 ('B12006_039E',
  'MARITAL STATUS BY SEX BY LABOR FORCE PARTICIPATION',
  'Estimate!!Total!!Widowed!!Male!!In labor force!!Unemployed'),
 ('B12006_044E',
  'MARITAL STATUS BY SEX BY LABOR FORCE PARTICIPATION',
  'Estimate!!Total!!Widowed!!Female!!In labor force!!Unemployed'),
 ('B12006_050E',
  'MARITAL STATUS BY SEX BY LABOR FORCE PARTICIPATION',
  'Estimate!!Total!!Divorced!!Male!!In labor force!!Unemployed'),
 ('B12006_055E',
  'MARITAL STATUS BY SEX BY LABOR FORCE PARTICIPATION',
  'Estimate!!Total!!Divorced!!Female!!In labor force!!Unemployed'),
 ('B14005_005E',
  'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'Estimate!!Total!!Male!!Enrolled in school!!Unemployed'),
 ('B14005_010E',
  'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'Estimate!!Total!!Male!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed'),
 ('B14005_014E',
  'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'Estimate!!Total!!Male!!Not enrolled in school!!Not high school graduate!!Unemployed'),
 ('B14005_019E',
  'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'Estimate!!Total!!Female!!Enrolled in school!!Unemployed'),
 ('B14005_024E',
  'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'Estimate!!Total!!Female!!Not enrolled in school!!High school graduate (includes equivalency)!!Unemployed'),
 ('B14005_028E',
  'SEX BY SCHOOL ENROLLMENT BY EDUCATIONAL ATTAINMENT BY EMPLOYMENT STATUS FOR THE POPULATION 16 TO 19 YEARS',
  'Estimate!!Total!!Female!!Not enrolled in school!!Not high school graduate!!Unemployed'),
 ('B17005_006E',
  'POVERTY STATUS IN THE PAST 12 MONTHS OF INDIVIDUALS BY SEX BY EMPLOYMENT STATUS',
  'Estimate!!Total!!Income in the past 12 months below poverty level!!Male!!In labor force!!Unemployed'),
 ('B17005_011E',
  'POVERTY STATUS IN THE PAST 12 MONTHS OF INDIVIDUALS BY SEX BY EMPLOYMENT STATUS',
  'Estimate!!Total!!Income in the past 12 months below poverty level!!Female!!In labor force!!Unemployed'),
 ('B17005_017E',
  'POVERTY STATUS IN THE PAST 12 MONTHS OF INDIVIDUALS BY SEX BY EMPLOYMENT STATUS',
  'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Male!!In labor force!!Unemployed'),
 ('B17005_022E',
  'POVERTY STATUS IN THE PAST 12 MONTHS OF INDIVIDUALS BY SEX BY EMPLOYMENT STATUS',
  'Estimate!!Total!!Income in the past 12 months at or above poverty level!!Female!!In labor force!!Unemployed')]

In [18]:
censusdata.geographies(censusdata.censusgeo([('state', '72')]), 'acs5', 2015)

{'Puerto Rico': censusgeo((('state', '72'),))}

In [22]:
len(censusdata.geographies(censusdata.censusgeo([('state', '72'), ('county', '*'),('tract','*')]), 'acs5', 2015))

945

In [27]:
cookbg = censusdata.download('acs5', 2015,
                             censusdata.censusgeo([('state', '72'),  ('tract', '*')]),
                             ['B23025_003E', 'B23025_005E', 'B15003_001E', 'B15003_002E', 'B15003_003E',
                              'B15003_004E', 'B15003_005E', 'B15003_006E', 'B15003_007E', 'B15003_008E',
                              'B15003_009E', 'B15003_010E', 'B15003_011E', 'B15003_012E', 'B15003_013E',
                              'B15003_014E', 'B15003_015E', 'B15003_016E'])
cookbg['percent_unemployed'] = cookbg.B23025_005E / cookbg.B23025_003E * 100
cookbg['percent_nohs'] = (cookbg.B15003_002E + cookbg.B15003_003E + cookbg.B15003_004E
                          + cookbg.B15003_005E + cookbg.B15003_006E + cookbg.B15003_007E + cookbg.B15003_008E
                          + cookbg.B15003_009E + cookbg.B15003_010E + cookbg.B15003_011E + cookbg.B15003_012E
                          + cookbg.B15003_013E + cookbg.B15003_014E +
                          cookbg.B15003_015E + cookbg.B15003_016E) / cookbg.B15003_001E * 100
cookbg = cookbg[['percent_unemployed', 'percent_nohs']]
cookbg.describe()

       percent_unemployed  percent_nohs
count              886.00        886.00
mean                19.65         27.50
std                 10.03         11.03
min                  0.00          0.00
25%                 13.09         19.61
50%                 17.85         27.66
75%                 24.97         34.90
max                 74.14         61.60