In [1]:
#Load collections of open source packages
from nltk.corpus import wordnet as wn
from nltk.stem.wordnet import WordNetLemmatizer
from nltk import pos_tag
from collections import defaultdict
import pyodbc 
import pandas as pd
import numpy as np

In [2]:
narratives=pd.read_csv('C:/Users/dmckenzie/OneDrive - DLR Group/Desktop/Project_narrative-export-visiondb.csv')

In [3]:
narratives

             WBS1                                          Narrative
0     05-16101-00  Ryan Cameron and Michael Vander Ploeg pursued ...
1     05-16101-00  Ryan Cameron and Michael Vander Ploeg pursued ...
2     05-21101-00  Design Achievement Emerging material technolog...
3     10-00001-02  Design Achievement - KANEKO, an Omaha based cu...
4     10-00001-03  ADAM WELLS PERSONAL PROJECT   Design Achieveme...
...           ...                                                ...
2819  86-19101-01            Renderings and HNTE for Add Service-002
2820  86-19101-02              Test Fit and HNTE for Add Service-003
2821  86-19101-03  Renderings and ICON expenses HNTE for Add Serv...
2822  86-19101-04  Renderings and ICON expenses HNTE for Add Serv...
2823  86-20101-00                                  Hines T3 Test Fit

[2824 rows x 2 columns]

In [4]:
len(narratives)

2824

In [5]:
narratives=narratives.reset_index(drop=True)

In [6]:
narratives=narratives.drop_duplicates(['WBS1'])
narratives=narratives.reset_index(drop=True)

In [7]:
len(narratives)

2669

In [31]:
narratives['Narrative'].str.lower().str.contains('design achievement').sum()

1490

In [18]:
outlist=narratives[(((narratives['Narrative'].str.lower().str.contains('housing'))|
                (narratives['Narrative'].str.lower().str.contains('apartment')) |
            (narratives['Narrative'].str.lower().str.contains('condo'))) & 
          ((narratives['Narrative'].str.lower().str.contains('courtyard')) |
              (narratives['Narrative'].str.lower().str.contains('plaza'))) &
                (narratives['Narrative'].str.lower().str.contains('design achieve')) &
           (narratives['Narrative'].str.lower().str.contains('community')) &
            (narratives['Narrative'].str.lower().str.contains('scope sum')) &
           (narratives['Narrative'].str.lower().str.contains('dlr group provided')))]

In [20]:
len(outlist)

17

In [17]:
outlist.to_csv('C:/Users/dmckenzie/OneDrive - DLR Group/Desktop/NarrativeExamples.csv')

In [37]:
list(narratives[(narratives['Narrative'].str.lower().str.contains('condo')) & 
          (narratives['Narrative'].str.lower().str.contains('farm'))]['Narrative'])

['Design Achievements Following the vision of St. Paul’s urban renewal efforts, the design team used a variety of materials, textures and colors to place this project within the context of other historic structures in this revitalized neighborhood of downtown St. Paul. Seniors at Lyons Court Apartments are offered conveniences of living downtown, with the Farmer’s Market, Mears Park, the YMCA and downtown skyway access all within walking distance. Scope Summary This apartment community is for seniors ages 63 and older. One-bedroom and two-bedroom apartments range in size from 526 SF to 1,138 SF. Lyons Court Apartments is centrally located between the adjacent historic First Baptist Church and neighboring warehouse loft condominiums. The landscaped outdoor plaza/courtyard is intended for the common, but diverse uses of the senior renters, condominium owners and church members.']

In [39]:
narratives['Narrative'].str.lower().str.contains('mural').sum()

37

In [40]:
narratives['Narrative'].str.lower().str.contains('hvac').sum()

141

In [41]:
narratives['Narrative'].str.lower().str.contains('farming').sum()

1

In [42]:
narratives['Narrative'].str.lower().str.contains('biking').sum()

6

In [43]:
narratives['Narrative'].str.lower().str.contains('').sum()

2660

In [44]:
narratives['Narrative'].str.lower().str.contains('sharing').sum()

19

In [45]:
narratives['Narrative'].str.lower().str.contains('bike').sum()

34

In [46]:
narratives['Narrative'].str.lower().str.contains('farmers').sum()

6

In [47]:
narratives['Narrative'].str.lower().str.contains(' car ').sum()

36

In [48]:
narratives['Narrative'].str.lower().str.contains('affordable hous').sum()

13

In [49]:
narratives['Narrative'].astype(str).apply(nltk.sent_tokenize).str[-1]

0       A secondary series of human-scaled vertical ma...
1       DLR Group is providing research leadership, an...
2       The crowning element of the structure is a bel...
3       The visual communication team provided brand v...
4       The visual communication team provided promoti...
                              ...
2664              Renderings and HNTE for Add Service-002
2665                Test Fit and HNTE for Add Service-003
2666    Renderings and ICON expenses HNTE for Add Serv...
2667    Renderings and ICON expenses HNTE for Add Serv...
2668                                    Hines T3 Test Fit
Name: Narrative, Length: 2669, dtype: object

In [124]:
from  rake_nltk import Rake  
r = Rake()
def rake_implement(x,r):
    r.extract_keywords_from_text(x)
    return r.get_ranked_phrases()

In [300]:
narratives['Narrative2']=narratives['Narrative'].str.replace('[^\w\s]','')

C:\Users\dmckenzie\Anaconda3\envs\Three Seven\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [301]:
narratives['Raked']=narratives['Narrative2'].astype(str).apply(lambda x: rake_implement(x,r))

In [302]:
NarExp=narratives['Narrative2'].astype(str).apply(lambda x: rake_implement(x,r)).explode().reset_index()

In [303]:
rooms=list(RoomNameFrame[(RoomNameFrame['Name3']!='') & 
                         (RoomNameFrame['Name3']!='dlr') &
                         (RoomNameFrame['Name3']!='test') &
                         (RoomNameFrame['Name3']!='group')]['Name3'])

In [304]:
len(rooms)

203

In [305]:
items=list(itemframe[(itemframe['Name3']!='') & (itemframe['Name3']!='dlr') & (itemframe['Name3']!='group')]['Name3'])
def tokennamefilter(tokenlist,minlen=2):
    tokens = [x for x in tokenlist if x in items+rooms]
    return (tokens)

In [306]:
NarExp

        index                                         Narrative2
0           0  living laboratory tom gallagher project princi...
1           0  michael vander ploeg pursued data streams inve...
2           0                                     mary miss city
3           0         iconic architectural lighting installation
4           0                  design services watermarks phase1
...       ...                                                ...
138071   2666                                         renderings
138072   2667                                 icon expenses hnte
138073   2667                                     add service 13
138074   2667                                         renderings
138075   2668                                  hines t3 test fit

[138076 rows x 2 columns]

In [307]:
NarExp['DesignScore']=NarExp['Narrative2'].astype(str).apply(nltk.word_tokenize).apply(tokennamefilter).apply(len)

In [308]:
NarExp['ChunkLen']=NarExp['Narrative2'].astype(str).apply(nltk.word_tokenize).apply(len)

In [309]:
NarExp['DesignRatio']=round(NarExp['DesignScore']/NarExp['ChunkLen'],2)

In [310]:
[element1+" "+element2 for element1, element2 in nltk.pos_tag(['fast','soft',
                                                  'hard','slow',
                                                  'hot','cold',
                                                  'fun','red','tall',
                                                  'short','small','best',
                                                  'worst','mean','hateful',
                                                 'pretty','ugly','loathesome',
                                                 'beatiful','marble']) if element2=='JJ' or 
 element2=='JJS' or element2=='JJR' or element2=='RB' or element2=='RBR' or element2=='RBS']

#[ele2 for ele1, ele2 in bigtuple if ele1 == "tuple1elem1"]

['fast RB',
 'soft JJ',
 'hard JJ',
 'hot JJ',
 'tall JJ',
 'short RB',
 'small JJ',
 'best JJS',
 'worst JJ',
 'hateful JJ',
 'pretty RB',
 'ugly RB',
 'loathesome JJ']

In [312]:
NarExp['InfoWords']=NarExp['Narrative2'].astype(str).\
    apply(nltk.word_tokenize).apply(lambda x: [element1 for element1, element2 in nltk.pos_tag(x) if element2=='JJ' or 
                                               element2=='JJS' or element2=='JJR' or element2=='RB' or element2=='RBR' or 
                                               element2=='RBS' or
                                               element2=='VB' or
                                               element2=='VBD' or
                                               element2=='VBG' or
                                               element2=='VBN' or
                                               element2=='VBP' or
                                               element2=='VBZ' or
                                               element1 in rooms+items])

In [263]:
'fire' in items

True

In [314]:
NarExp[((NarExp['InfoWords'].apply(len)/NarExp['ChunkLen'])>=.7) & 
       (NarExp['ChunkLen']>=2) & 
       (NarExp['DesignScore']>=1)]['Narrative2'].value_counts().head(35)

second floor             47
office space             39
focal point              38
first floor              34
natural light            33
south side               21
fitness center           21
mechanical electrical    21
north side               20
main entry               20
reception area           19
existing space           19
multipurpose room        19
national register        19
new space                15
east side                15
direct access            15
support space            14
meeting space            14
work included            14
top floor                13
conference center        13
new office               13
open office              13
retail space             12
conference room          12
west side                12
surrounding area         12
collaboration space      11
work includes            11
primary focus            11
front door               11
new entry                11
third floor              10
flexible space            9
Name: Narrative2, dtype: int64

In [363]:
goodphrases=list(NarExp[((NarExp['InfoWords'].apply(len)/NarExp['ChunkLen'])>=.7) & 
       (NarExp['ChunkLen']>=2) & 
        (NarExp['ChunkLen']<6) &
        (NarExp['Narrative2'].str.contains('sf')==False) &
        (NarExp['Narrative2'].str.contains('square feet')==False) &
        (NarExp['Narrative2'].str.contains('square foot')==False) &
        (NarExp['Narrative2'].str.contains('feet squared')==False) &                
       (NarExp['DesignScore']>=1)]['Narrative2'].drop_duplicates())

In [364]:
len(goodphrases)

6162

In [365]:
narratives['KeyPhrases']=narratives['Raked'].apply(lambda x:[i for i in x if i in goodphrases])

In [366]:
sum(narratives['KeyPhrases'].apply(len)>0)/len(narratives)

0.7287373548145373

In [367]:
pd.Series(goodphrases).to_csv('Desktop\KeyPhrases.csv')

In [368]:
narratives['KeyPhrases2']=narratives['KeyPhrases'].apply(', '.join)

In [369]:
narratives['ServiceTagsAndKeyPhrases2']=(narratives['ComboService']+narratives['KeyPhrases']).apply(', '.join)

In [370]:
narratives['ServiceTags']=narratives['ComboService'].apply(', '.join)

In [371]:
narrativesFinal=narratives[narratives['ServiceTagsAndKeyPhrases2']!=''][['WBS1','KeyPhrases2','ServiceTags','ServiceTagsAndKeyPhrases2']]

In [401]:
narratives['KeyPhrases'].astype(str).apply(len)

0        83
1       109
2       193
3        31
4        94
       ...
2664      2
2665      2
2666      2
2667      2
2668      2
Name: KeyPhrases, Length: 2669, dtype: int64

In [402]:
narratives[narratives['KeyPhrases2']!='']

,WBS1,Narrative,CharCount,MaxChar,LastSentence,UniService,DblService,ComboService,Raked,Narrative2,KeyPhrases,KeyPhrases2,ServiceTagsAndKeyPhrases2,ServiceTags
0,05-16101-00,Ryan Cameron and Michael Vander Ploeg pursued ...,1412,1412,A secondary series of human-scaled vertical ma...,[],[],[],[living laboratory tom gallagher project princ...,Ryan Cameron and Michael Vander Ploeg pursued ...,"[iconic architectural lighting installation, s...","iconic architectural lighting installation, se...","iconic architectural lighting installation, se...",
1,05-21101-00,Design Achievement Emerging material technolog...,1622,1622,"DLR Group is providing research leadership, an...",[],[conceptual design],[conceptual design],[detailed cost analysis design considerations ...,Design Achievement Emerging material technolog...,"[us forestry service bringing almost, internat...","us forestry service bringing almost, internati...","conceptual design, us forestry service bringin...",conceptual design
2,10-00001-02,"Design Achievement - KANEKO, an Omaha based cu...",1855,1855,The crowning element of the structure is a bel...,[],[],[],"[orangepainted 2x4s pine wood slats 1x4, omaha...",Design Achievement KANEKO an Omaha based cult...,"[implemented using 12 mdf covered, given blank...","implemented using 12 mdf covered, given blank ...","implemented using 12 mdf covered, given blank ...",
3,10-00001-03,ADAM WELLS PERSONAL PROJECT Design Achieveme...,1391,1391,The visual communication team provided brand v...,[],[visual communication],[visual communication],[adam wells personal project design achievemen...,ADAM WELLS PERSONAL PROJECT Design Achieveme...,"[southern edge, main focus]","southern edge, main focus","visual communication, southern edge, main focus",visual communication
4,10-00001-04,Design Achievement - When the National Hospita...,1045,1045,The visual communication team provided promoti...,[],[visual communication],[visual communication],[dlr groups national design leaders personal e...,Design Achievement When the National Hospital...,"[soft cover saddlestiched book, national hospi...","soft cover saddlestiched book, national hospit...","visual communication, soft cover saddlestiched...",visual communication
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2659,84-19104-00,Design Achievement – Purple Dot Development as...,1711,1711,DLR Group served as the design architect and p...,[],[],[],[design achievement purple dot development ask...,Design Achievement Purple Dot Development ask...,"[also creates enough power, useable office spa...","also creates enough power, useable office spac...","also creates enough power, useable office spac...",
2660,84-19107-00,Design Achievement - This quarter of a million...,1983,1983,DLR Group is providing planning and architectu...,[architecture],[],[architecture],"[play sayani investments selected dlr group, i...",Design Achievement This quarter of a million ...,"[retail hospitality, work live, swimming pool,...","retail hospitality, work live, swimming pool, ...","architecture, retail hospitality, work live, s...",architecture
2661,84-19108-00,Design Achievement – Tracom Services’s vision ...,1354,1354,DLR Group served as the design architect and p...,[],[],[],[payment solutions company dlr groups design c...,Design Achievement Tracom Servicess vision wa...,"[swimming pool, oversailing canopy, central sp...","swimming pool, oversailing canopy, central space","swimming pool, oversailing canopy, central space",
2662,84-20101-00,Design Achievement – The Association of Member...,1272,1272,DLR Group served as the design architect and p...,[],[],[],"[even prospective tenants scope summary, incom...",Design Achievement The Association of Member ...,"[hotel leading away, hotel appear intertwined,...","hotel leading away, hotel appear intertwined, ...","hotel leading away, hotel appear intertwined, ...",
2663,86-19101-00,Design Achievement: Hines continues to partner...,2190,2190,DLR Group provided master planning and archite...,[architecture],[master planning],"[architecture, master planning]",[exposed masstimer environment sterling road f...,Design Achievement Hines continues to partner ...,"[external bracing generous private balconies, ...","external bracing generous private balconies, b...","architecture, master planning, external bracin...","architecture, master planning"

In [406]:
keyphrases=narratives[narratives['KeyPhrases2']!=''].\
    set_index('WBS1')[['KeyPhrases']].\
    explode('KeyPhrases').\
    reset_index()

In [419]:
keyphrases.to_csv('Desktop/KeyPhrasesExploded.csv')

In [405]:
servicetags=narratives[narratives['ServiceTags']!=''].\
    set_index('WBS1')[['ComboService']].\
    explode('ComboService').\
    reset_index()

In [413]:
servicetags['ComboService']=np.where(servicetags['ComboService']=='architectural design','architecture ',
        np.where(servicetags['ComboService']=='acoustic','acoustics',
                np.where(servicetags['ComboService']=='landscaped','landscape architecture',
                        np.where(servicetags['ComboService']=='landscaping','landscape architecture',
                                np.where(servicetags['ComboService']=='landscaped','landscape architecture',
                                        np.where(servicetags['ComboService']=='landscape','landscape architecture',
                                                np.where(servicetags['ComboService']=='light','lighting',
                                                        np.where(servicetags['ComboService']=='lights','lighting',
                                                                 servicetags['ComboService']))))))))

In [416]:
servicetags=servicetags[servicetags['ComboService']!='fame']

In [417]:
servicetags['ComboService'].value_counts()

architecture              790
structural engineering    167
lighting                  116
master planning           104
landscape architecture     98
electrical engineering     94
architecture               64
mechanical engineering     49
security                   37
audiovisual                36
acoustics                  34
civil engineering          17
conceptual design          16
theater technical          16
solar                      15
environmental graphics      9
facility assessment         6
bridging documents          5
it/telecom                  5
visual communication        5
environmental graphic       3
facility assessments        2
leed coordination           1
visual communications       1
Name: ComboService, dtype: int64

In [420]:
servicetags.to_csv('Desktop/ServiceTagsExploded.csv')

In [374]:
narrativesFinal.to_csv('Desktop/NarrativeKeyWords.csv')