In [1]:
path='C:/Users/dmckenzie/Downloads/Test2.csv'
%matplotlib inline
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from itertools import combinations 
from sklearn.cluster import KMeans
import folium
# Load data

In [119]:
p2='C:/Users/dmckenzie/Downloads/00 PRDE School Data List_Jan-25-2022 V.1 (2).xlsx'

In [50]:
data=pd.read_excel(p2,sheet_name='Consolidated',header=1)

In [51]:
data=data.drop(columns=['LEVEL','GRADES','test',
                            'GRADES MINUS LETTERS','GRADES MINUS HS/COLLEGE',
                            'SPECIAL ED','HIGH SCHOOL TEST','HIGH SCHOOL','COLLEGE',
                            'ADULT','TEST LEN','COHORT','COHORT COMBINED','FCI% ORIGINAL',
                            'ENROLLMENT 2021-22','USE OF SHELTER','DESIGNATION','PreK '])

In [52]:
import nltk

In [53]:
data=data.rename(columns={'GRADES 3/29/2022':'GRADES'})

In [54]:
data['GRADES'].value_counts().head(15).sum()/len(data)

0.9765533411488863

In [55]:
data['SpEd']=data['GRADES'].str.contains("E")*1
data['PK']=data['GRADES'].str.contains("PK")*1

In [65]:
data['GRADES'].fillna('')

0            9 10 11 12
1           K 1 2 3 4 5
2            9 10 11 12
3      6 7 8 9 10 11 12
4        7 8 9 10 11 12
             ...
848    6 7 8 9 10 11 12
849    6 7 8 9 10 11 12
850         K 1 2 3 4 5
851               6 7 8
852               6 7 8
Name: GRADES, Length: 853, dtype: object

In [101]:
data['Simp'].value_counts()

K 5               288
K 8               190
9 12              154
6 8                91
6 12               36
K 6                29
K 12               11
Missing            10
SHARED SCHOOL       7
13 14               6
K 9                 6
7 12                5
ADULT LIST          3
8 12                3
K 3                 2
NOT ENROLLMENT      2
4 12                2
K 10                1
6 10                1
6 9                 1
10 12               1
5 12                1
K 11                1
6 11                1
K                   1
Name: Simp, dtype: int64

In [94]:
data['GRADES'].value_counts().index.values

array(['K 1 2 3 4 5 ', 'K 1 2 3 4 5 6 7 8 ', '9 10 11 12 ', '6 7 8 ',
       '6 7 8 9 10 11 12 ', 'K 1 2 3 4 5 6 ',
       'K 1 2 3 4 5 6 7 8 9 10 11 12 ', 'SHARED SCHOOL', '13 14',
       'K 1 2 3 4 5 6 7 8 9 ', '7 8 9 10 11 12 ', '8 9 10 11 12 ',
       'ADULT BASED ON ORIGINAL CAMPUS LIST', 'NOT IN ENROLLMENT',
       '4 5 6 7 8 9 10 11 12 ', 'K 1 2 3 ', 'K 1 2 3 4 5 6 7 8 9 10 11 ',
       '6 7 8 9 ', '6 7 8 9 10 11 ', '10 11 12 ', '5 6 7 8 9 10 11 12 ',
       '6 7 8 9 10 ', 'K 1 2 3 4 5 6 7 8 9 10 ', 'K '], dtype=object)

In [115]:
firstelm=[]
for i in data['GT2'].str.split():
    if len(i)<1:
        lastelm.append(' ')
    else:
        firstelm.append(i[0])

In [116]:
len(data['GT2'].str.split())

853

In [117]:
len(firstelm)

836

In [114]:
data['GT']=data['GRADES'].fillna('').str.replace('EEE','').str.replace('MISSING','').str.replace('SHARED SCHOOL','').\
        str.replace('EEI','').str.replace('EES','').str.replace('PK','').str.split().apply(' '.join)

data['GT2']=np.where(data['GT']=='',' ',data['GT'])

lastelm=[]
for i in data['GT2'].str.split():
    if len(i)<2:
        lastelm.append(' ')    
    else:
        lastelm.append(i[-1])
data['Glast']=lastelm
#data['GT2']=np.where(data['GT']=='',' ',data['GT'])
firstelm=[]
for i in data['GT2'].str.split():
    if len(i)<1:
        lastelm.append(' ')
    else:
        firstelm.append(i[0])
        
data['Gfirst']=firstelm

data['Glast2']=np.where(data['Glast']=='','1000',data['Glast'])
data['Simp']=data['Gfirst']+" "+data['Glast']

ValueError: Length of values (836) does not match length of index (853)

In [102]:
data['GT']=data['GRADES'].fillna('').str.replace('EEE','').\
        str.replace('EEI','').str.replace('EES','').str.replace('PK','').str.split().apply(' '.join)
lastelm=[]
for i in data['GT'].str.split():
    if len(i)<2:
        lastelm.append('')    
    else:
        lastelm.append(i[-1])
data['Glast']=lastelm
data['GT2']=np.where(data['GT']=='','Missing',data['GT'])
firstelm=[]
for i in data['GT2'].str.split():
    firstelm.append(i[0])

IndexError: list index out of range

In [68]:
data['GT']=data['GRADES'].str.replace('EEE','').str.replace('EEI','').str.replace('EES','').str.replace('PK','').str.split().apply(' '.join)
lastelm=[]
for i in data['GT'].str.split():
    if len(i)<2:
        lastelm.append('')    
    else:
        lastelm.append(i[-1])
    
        
#data['Gfirst']=firstelm
data['Glast']=lastelm
data['GT2']=np.where(data['GT']=='','Missing',data['GT'])
firstelm=[]
for i in data['GT2'].str.split():
    firstelm.append(i[0])
    
data['Gfirst']=firstelm
data['Glast2']=np.where(data['Glast']=='','1000',data['Glast'])
data['Simp']=data['Gfirst']+" "+data['Glast2']
data['Simp2']=np.where((data['Glast2'].astype(int)<=5) | (data['Simp']=='K 1000'),'Elem',
            np.where((data['Glast2'].isin(['6','7','8','9'])) & 
                     (data['Gfirst'].isin(['K','1','2','3'])),
                     'Elem2Middle',
                    np.where((data['Simp']=='6 8') | 
                            (data['Simp']=='6 9')  |
                             (data['Simp']=='4 6') |
                             (data['Simp']=='4 8') |
                             (data['Simp']=='7 9') |
                             (data['Simp']=='6 7'),'Middle',
                            np.where((data['Glast2'].isin(['10','11','12'])) &
                                     (data['Gfirst'].isin(['5','6','7'])) ,
                                     'Middle2High',
                                    np.where((data['Glast2'].isin(['10','11','12'])) & 
                                     (data['Gfirst'].isin(['K','1','2','3','4'])),'Elem2High',
                                             np.where((data['Glast2'].isin(['10','11','12'])) &
                                                      (data['Gfirst'].isin(['8','9','10','11'])),
                                                      'High School',
                                                      np.where((data['Gfirst'].isin(['13','14','ADULTOS'])),
                                                      'Adult','Other')))))))
data['Simp2']=np.where(data['GT']=='','All Sped',data['Simp2'])

ValueError: invalid literal for int() with base 10: 'LIST'

In [180]:
data['Simp2'].value_counts()

Elem           274
Elem2Middle    230
High School    161
Middle         113
Middle2High     34
Elem2High       18
All Sped        14
Adult            9
Name: Simp2, dtype: int64

In [181]:
len(data['Simp2'].value_counts())

8

In [220]:
data[['CODE','Simp2']]

      CODE        Simp2
0    11932  Elem2Middle
1    10272  Elem2Middle
2    11940    Elem2High
3    13318  Middle2High
4    17707         Elem
..     ...          ...
848  78857  High School
849  78931  High School
850  78956         Elem
851  79038  High School
852  79087         Elem

[853 rows x 2 columns]

In [181]:
from dandy import *

In [187]:
get_ngrams(data['GRADES'],1).value_counts()

GRADES
           2467
4           519
5           519
3           518
2           516
1           515
K           514
6           384
7           347
8           343
EEE         307
9           231
10          213
11          210
12          206
EEI         153
EES         108
PK           94
14            6
13            6
ADULTOS       3
dtype: int64

In [ ]:
k6,k7,k8,k9 'multi lil'

In [ ]:
6 8,6 9 ,7 9,'middle'

In [ ]:
6 12,6 11,'multi big'

In [ ]:
k12,k10,4 12,'multi all'

In [ ]:
9 12,

In [188]:
data['Simp'].value_counts()

K 5         268
K 8         166
9 12        154
6 8          99
K 6          46
6 12         25
Missing      14
K 9          12
K 12          9
6 9           7
13 14         6
10 12         6
7 9           5
K 7           5
7 12          5
K 3           4
ADULTOS       3
4 12          3
K 10          2
6 11          2
3 12          2
7 11          1
5 12          1
4 8           1
4 6           1
K 4           1
2 12          1
1 6           1
1 11          1
K             1
8 10          1
Name: Simp, dtype: int64