In [13]:
teacherslist=list(range(0,82))

In [376]:
import numpy as np

In [372]:
SimFrame=pd.DataFrame()
teacherslist=list(range(0,82))
for q in range(0,100):

    confcounter={'0':0,'1':0,"2":0,"7":0}
    lunchcounter={'3':0,'4':0,"5":0,"6":0}
    stop=21
    schedules=[]

    for i in teacherslist:
    
        lunch=[]
    
        for j in list(lunchcounter.keys()):
            if lunchcounter[str(j)]<stop:
                lunch.append(int(j))
    
        schedule= ["On","On",'On',"On","On",'On',"On",'On']
    
        lt=np.random.choice(lunch,1)[0]
    
        schedule[lt]='Off'
        lunchcounter[str(lt)]+=1
    
        conf=[]
        
        for x in list(confcounter.keys()):
            if confcounter[str(x)]<stop:
                conf.append(int(x))
    
        co=np.random.choice(conf,1)[0]
    
        schedule[co]='Off'
        confcounter[str(co)]+=1
    
        schedules.append(schedule)
        
    for z in range(0,len(teacherslist)):
        classrooms=list(range(1,68))
        
        for b in range(0,len(schedules[z])):
            if (schedules[z][b]=='On') & (len(classrooms)>1):
                pick=np.random.choice(classrooms,1)
                schedules[z][b]=int(pick)
                classrooms=(classrooms[0:int(pick)-1]+classrooms[int(pick):])
        
            elif schedules[z][b]=='Off':
                continue  
            else:
                schedules[z][b]='Hallway'
        
    
    SimFrame=SimFrame.append(pd.DataFrame(schedules).assign(Simulation=q+1))

In [373]:
(SimFrame=='Off').sum()

0             2041
1             2049
2             2048
3             2040
4             2051
5             2051
6             2058
7             2062
Simulation       0
dtype: int64

In [374]:
(SimFrame=='Off').sum()/100

0             20.41
1             20.49
2             20.48
3             20.40
4             20.51
5             20.51
6             20.58
7             20.62
Simulation     0.00
dtype: float64

In [375]:
(SimFrame=='Hallway').sum()/5

0             0.0
1             0.0
2             0.0
3             0.0
4             0.0
5             0.0
6             0.0
7             0.0
Simulation    0.0
dtype: float64

In [331]:
q

999

In [324]:
len(schedules)

82

In [296]:

confcounter={'0':0,'1':0,"2":0,"7":0}
lunchcounter={'3':0,'4':0,"5":0,"6":0}
stop=21
schedules=[]

for i in teacherslist:
    
    lunch=[]
    
    for j in list(lunchcounter.keys()):
        if lunchcounter[str(j)]<stop:
            lunch.append(int(j))
    
    schedule= ["On","On",'On',"On","On",'On',"On",'On']
    
    lt=np.random.choice(lunch,1)[0]
    
    schedule[lt]='Off'
    lunchcounter[str(lt)]+=1
    
    conf=[]
    for x in list(confcounter.keys()):
        if confcounter[str(x)]<stop:
            conf.append(int(x))
    
    co=np.random.choice(conf,1)[0]
    
    schedule[co]='Off'
    confcounter[str(co)]+=1
    
    schedules.append(schedule)

for i in range(0,len(teacherslist)):
    classrooms=list(range(1,68))
    for j in range(0,len(schedules[i])):
        if (schedules[i][j]=='On') & (len(classrooms)>1):
            pick=np.random.choice(classrooms,1)
            schedules[i][j]=int(pick)
            classrooms=(classrooms[0:int(pick)-1]+classrooms[int(pick):])
        
        elif schedules[i][j]=='Off':
            continue  
        else:
            schedules[i][j]='Hallway'    
    
pd.DataFrame(schedules).assign(Simulation=1)

In [297]:
lunchcounter

{'3': 21, '4': 21, '5': 19, '6': 21}

In [298]:
confcounter

{'0': 21, '1': 20, '2': 20, '7': 21}

In [299]:
classrooms=list(range(1,68))

In [300]:
schedules[i]

['Off', 'On', 'On', 'On', 'On', 'Off', 'On', 'On']

In [305]:
for i in range(0,len(teacherslist)):
    classrooms=list(range(1,68))
    for j in range(0,len(schedules[i])):
        if (schedules[i][j]=='On') & (len(classrooms)>1):
            pick=np.random.choice(classrooms,1)
            schedules[i][j]=int(pick)
            classrooms=(classrooms[0:int(pick)-1]+classrooms[int(pick):])
        
        elif schedules[i][j]=='Off':
            continue  
        else:
            schedules[i][j]='Hallway'

In [307]:
import pandas as pd

In [ ]:
sim

In [310]:
pd.DataFrame(schedules).assign(Simulation=1)

      0    1    2    3    4    5    6    7  Simulation
0    41   22   12   54   32   66  Off  Off           1
1   Off   28   44   21   37  Off   57   59           1
2   Off    4   27   36  Off    3   42   33           1
3    50  Off    2    7  Off   62   38   33           1
4    52  Off   25  Off   61   53   35    6           1
..  ...  ...  ...  ...  ...  ...  ...  ...         ...
77   47   66  Off   25   18  Off   21    7           1
78   15   67  Off   42   10  Off   56   20           1
79  Off   32   62    5   21  Off   23   41           1
80   12  Off   13   45   28  Off   40   42           1
81  Off   23   42   30   25  Off   51   10           1

[82 rows x 9 columns]

In [ ]:

for(i in teacherslist){
    
    schedule <- list("On","On",'On',"On","On",'On',"On",'On')
    periods<-c(1,2,3,4,5,6,7,8)
    lunch<-c(4,5,6,7)
    lt<-sample(lunch,1)
    schedule[[lt]]<-'Off'
    periods<-periods[-lt]
    conf<-sample(periods,1)
    schedule[[conf]]<-'Off'
    schedule<-as.vector(schedule)
    
    
    if(i==1){
      #grab schedules and make matrix  
      
      theframe<-t(unlist(schedule))
    }else{
      theframe<-rbind(theframe,unlist(schedule))
    }
    
  }